- namespace = locals.fetch(:namespace)
- projects = locals.fetch(:projects)

.pipeline-quota.container-fluid
  .row
    .col-sm-6
      %strong
        - last_reset = namespace.shared_runners_seconds_last_reset
        - if last_reset
          = s_('UsageQuota|Usage since')
          = last_reset.strftime('%b %d, %Y')
        - else
          = s_('UsageQuota|Current period usage')
      %div
        = namespace_shared_runner_limits_quota(namespace)
        minutes
        = link_to icon('question-circle'), help_page_path('user/admin_area/settings/continuous_integration', anchor: 'shared-runners-build-minutes-quota'), target: '_blank', 'aria-label': _('Shared runners help link')

    .col-sm-6.right
      - if namespace.shared_runners_minutes_limit_enabled?
        #{namespace_shared_runner_limits_percent_used(namespace)}% used
      - else
        = s_('UsageQuota|Unlimited')

      = namespace_shared_runner_limits_progress_bar(namespace)

  = render 'namespaces/pipelines_quota/extra_shared_runners_minutes_quota', namespace: namespace

%table.table.pipeline-project-metrics
  %thead
    %tr
      %th
        = _('Project')
      %th
        = _('Minutes')

  %tbody
    - projects.each do |project|
      %tr
        %td
          .avatar-container.s20.d-none.d-sm-block
            = project_icon(project, alt: '', class: 'avatar project-avatar s20')
          %strong= link_to project.full_name, project
        %td
          = project.shared_runners_minutes
    - if projects.blank?
      %tr
        %td{ colspan: 2 }
          .nothing-here-block
            = s_('UsageQuota|This group has no projects which use shared runners')

= paginate projects, theme: "gitlab"
